.users__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.users__card {
  width: 280px;
  padding: 20px;
  box-shadow: 0 0 8px #0002, 15px 15px 15px #0001;
  line-height: 1.6;
  border-radius: 10px;
}
.users__card img {
  width: 100%;
}
.users__card h2 {
  color: dodgerblue;
}
.users__card button {
  padding: 6px 20px;
  background: crimson;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}
.users__card button:active {
  opacity: 0.7;
}

.user__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  padding: 20px 15px;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user__edit {
  background-color: #0d6efd !important;
}

.dark .users__card {
  background-color: #333;
  border: 1px solid #fff;
  box-shadow: 0 0 8px #fff, 6px 6px 6px #fff;
}
.dark .users__card p {
  color: #fff;
}

.close-modal {
  padding: 6px 10px !important;
  background: crimson !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  margin-top: 16px !important;
}
